<header class="layout-header header wrapper">
  <nav class="layout-header-navbar header-navbar">
    <div class="layout-header-left">
      <img src="icons/flow.svg" alt="Site logotype" />
      <ul class="layout-header-navbar-list header-navbar-list">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
      </ul>
    </div>
    <div class="layout-header-right">
      <img src="icons/flow.svg" alt="Site logotype" />
    </div>
  </nav>
</header>
