<section
    class="w-full h-screen py-16 gradient-2 flex justify-center items-center"
>
    <div class="mx-auto max-w-content-small">
        <h1 class="text-6xl text-center font-bold">{{.HeroTitle}}</h1>
        <p class="text-lg text-center mb-4 max-w-xl mx-auto">
            {{.HeroParagraph}}
        </p>
        <div class="flex flex-wrap justify-center gap-2 max-w-md mx-auto">
            {{range .HeroFeatures}}
            <button class="btn btn-outline btn-neutral">{{.}}</button>
            {{end}}
        </div>
    </div>
</section>
