<div class="layout-hero hero">
  <h1 class="hero-title">{{.HeroTitle}}</h1>
  <p class="hero-paragraph">{{.HeroParagraph}}</p>
  <div class="layout-hero-buttonList hero-buttonList">
    <button class="btn-primary">30 + Components</button>
    <button class="btn-primary">1.000+ Variables</button>
    <button class="btn-primary">300+ Icons</button>
    <button class="btn">Auto-layout</button>
    <button class="btn">Light & dark modes</button>
    <button class="btn">Interactive components</button>
  </div>
</div>
